CREATE DATABASE [RSAMUNIE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RSAMUNIE_DB'
, FILENAME = N'D:\WITS\2018\ELEN7046\GroupProject\Dropbox\ProjectFiles\DB\RSAMUNIE_DB.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RSAMUNIE_DB_log'
, FILENAME = N'D:\WITS\2018\ELEN7046\GroupProject\Dropbox\ProjectFiles\DB\RSAMUNIE_DB_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [RSAMUNIE_DB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [RSAMUNIE_DB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
